

        <!--Navbar-->
        <div class='Navbar h-20 w-full justify-between flex  font-bold bg-black'>
          <div class="text-white text-2xl  ml-4 mt-6 font-bold"> LeadCollector
          </div>
            <div class=" flex justify-between ">
            <a href=# class=' mt-8 mr-4 text-white'>Home</a>
            <a href=# class=' mt-8 mr-4 text-white'>Produit</a>
            <a href=# class='mr-4 mt-8 text-white'>Dashboard</a>
            <a href=# class=' mr-4 mt-8 text-white'>Contact</a>
         </div>
        </div>

<div class="container px-4 py-8">
        <h1 class='text-4xl font-bold'> Dashboard</h1>
         <section class="card-container flex justify-around">
                    <div class="card mt-8 h-48 w-1/4 bg-yellow-300">
                        <div class="">
                            <h1 class="font-bold text-center text-xl text-white">contenu page web<h1> 
                        </div>

                        <div class="flex  justify-around mt-20">
                            <button class="mx-auto px-4 py-2 text-white bg-green-400 rounded-sm"> Créer</button>
                            <button class="mx-auto px-4 py-2 text-white  bg-blue-700 rounded-sm"> Demander la modification</button>
                            
                        </div>
                    </div>
                    <div class="card mt-8 h-48 w-1/4 bg-yellow-300">
                        <div class="">
                            <h1 class="font-bold text-center text-xl text-white">contenu page Facebook<h1> 
                        </div>

                        <div class="flex  justify-around mt-20">
                            <button class="mx-auto px-4 py-2 text-white bg-green-400 rounded-sm"> Créer</button>
                            <button class="mx-auto px-4 py-2 text-white  bg-blue-700 rounded-sm"> Demander la modification</button>
                            
                        </div>
                    </div>
                    <div class="card mt-8 h-48 w-1/4 bg-yellow-300">
                        <div class="">
                            <h1 class="font-bold text-center text-xl text-white">contenu Google business<h1> 
                        </div>

                        <div class="flex  justify-around mt-20">
                            <button class="mx-auto px-4 py-2 text-white bg-green-400 rounded-sm"> Créer</button>
                            <button class="mx-auto px-4 py-2 text-white  bg-blue-700 rounded-sm"> Demander la modification</button>
                            
                        </div>
                    </div>

                    
         </section>
         
         
         <section class="card-container flex justify-around">
            <div class="card mt-8 h-48 w-1/4 bg-yellow-300">
                <div class="">
                    <h1 class="font-bold text-center text-xl text-white">contenu page web<h1> 
                </div>

                <div class="flex  justify-around mt-20">
                    <button class="mx-auto px-4 py-2 text-white bg-green-400 rounded-sm"> Créer</button>
                    <button class="mx-auto px-4 py-2 text-white  bg-blue-700 rounded-sm"> Demander la modification</button>
                    
                </div>
            </div>
            <div class="card mt-8 h-48 w-1/4 bg-yellow-300">
                <div class="">
                    <h1 class="font-bold text-center text-xl text-white">contenu page web<h1> 
                </div>

                <div class="flex  justify-around mt-20">
                    <button class="mx-auto px-4 py-2 text-white bg-green-400 rounded-sm"> Créer</button>
                    <button class="mx-auto px-4 py-2 text-white  bg-blue-700 rounded-sm"> Demander la modification</button>
                    
                </div>
            </div>
            <div class="card mt-8 h-48 w-1/4 bg-yellow-300">
                <div class="">
                    <h1 class="font-bold text-center text-xl text-white">contenu page web<h1> 
                </div>

                <div class="flex  justify-around mt-20">
                    <button class="mx-auto px-4 py-2 text-white bg-green-400 rounded-sm"> Créer</button>
                    <button class="mx-auto px-4 py-2 text-white  bg-blue-700 rounded-sm"> Demander la modification</button>
                    
                </div>
            </div>

            
      </section>
      
      
      <section class="card-container flex justify-around">
        <div class="card mt-8 h-48 w-1/4 bg-yellow-300">
            <div class="">
                <h1 class="font-bold text-center text-xl text-white">contenu page web<h1> 
            </div>

            <div class="flex  justify-around mt-20">
                <button class="mx-auto px-4 py-2 text-white bg-green-400 rounded-sm"> Créer</button>
                <button class="mx-auto px-4 py-2 text-white  bg-blue-700 rounded-sm"> Demander la modification</button>
                
            </div>
        </div>
        <div class="card mt-8 h-48 w-1/4 bg-yellow-300">
            <div class="">
                <h1 class="font-bold text-center text-xl text-white">contenu page web<h1> 
            </div>

            <div class="flex  justify-around mt-20">
                <button class="mx-auto px-4 py-2 text-white bg-green-400 rounded-sm"> Créer</button>
                <button class="mx-auto px-4 py-2 text-white  bg-blue-700 rounded-sm"> Demander la modification</button>
                
            </div>
        </div>
        <div class="card mt-8 h-48 w-1/4 bg-yellow-300">
            <div class="">
                <h1 class="font-bold text-center text-xl text-white">contenu page web<h1> 
            </div>

            <div class="flex  justify-around mt-20">
                <button class="mx-auto px-4 py-2 text-white bg-green-400 rounded-sm"> Créer</button>
                <button class="mx-auto px-4 py-2 text-white  bg-blue-700 rounded-sm"> Demander la modification</button>
                
            </div>
        </div>

        
    </section>
</div>